* {
    margin: 0;
  }

body {
    background: #fff;
    font-family: 'Karma', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;

}

li {
    display: block;
    font-family: 'Clicker Script', cursive;
    color: white;
    font-size: 44px;
    word-spacing: .25em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#image {
    height: auto;
    width: auto;
}

button {
    width:100%;
}

